/SteamProjeto-ejb/build/
/SteamProjeto-ejb/dist/
/SteamProjeto-war/build/
/build/
/SteamProjeto-war/dist/
/nbproject/private/
/SteamProjeto-war/nbproject/private/
/SteamProjeto-ejb/nbproject/private/
/dist/